body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

input, select {
  padding: 8px;
  margin: 10px 10px 10px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.product-image {
 width: 100%;
  height: 150px;       
  object-fit: cover;  
  border-radius: 6px;
}
.search-input {
  width: 100%;
  max-width: 300px;
  border-radius: 50px;

}